<% provide(:title, "Welcome") %>


<h1>Welcome to Imprint.</h1>
<% if user_signed_in? %>
	<p>Here are your imprints...</p>
	<p>Create a new imprint <%= link_to new_post_path do %> <span class="glyphicon glyphicon-log-in"></span><% end %></p>
<% else %>
	<p>Please sign up or log in.</p>
	
<% end %>