<% provide(:title, "Edit your profile") %>



<%= form_for @profile do |f| %>

	<p><%= f.file_field :avatar %></p>
	
    <p><%= f.label :name, "Update name" %></p>
    <p><%= f.text_field :name, autofocus: true, autocomplete: "off" %></p>

    <p><%= f.label :location, "Update your location" %></p>
    <p><%= f.text_field :location, autofocus: true, autocomplete: "off" %></p>

    <%= f.submit "Change my profile" %>
<% end %>
