<% provide(:title, "Your profile") %>

<div id="profilepage">
	<div id="profiledata">
		<%= image_tag @profile.avatar.url(:medium) %>
		<h3><%= @profile.name %></h3>
		<p><%= @profile.user.username  %></p>
		<%= render 'friends/friend_stats' %>
		<br><br>
		<p>Bio: lorem ipsum blah lorem.</p>
		
		<p><%= @profile.location %></p>
		<%= link_to edit_profile_path(@profile.user_id) do %><button class="btn btn-default" type="submit">Edit profile</button>
		<% end %>
		
		<% if current_user.profile.following?(@profile)%>
		    <%= render 'friends/unfollow' %>
		<% else %>
		    <%= render 'friends/follow' %>
		<% end %>
		
	</div>
	<% if current_user.id == @profile.user.id %>
		<h3>Your imprints</h3>
	<% else %>
		<h3>Imprints</h3>
	<% end %>
	<div id="profilefeed">
		
		<% @posts.each do |p| %>
			<p id="image"><%= image_tag @profile.avatar.url(:thumb) %></p>
			<% if p.photo.present? %>
				<%= image_tag p.photo.url(:medium) %>
			<% end %>
			<p><%= p.content %></p>
			  <p>Created by <%= link_to profile_path(@profile.user_id) do %><%= @profile.name %> <% end %></p>
			<br>
		<% end %>
		<%= will_paginate @posts %>
	</div>
</div>

