<% provide(:title, @title) %>

<h1><small><%= @title %>:</small></h1>
<br>
    <% if @users.any? %>
        <% @users.each do |u| %>
			<p><%= image_tag u.avatar.url(:thumb) %></p>
			<p><%= u.name %>,
			<%= u.user.username  %></p>

        	<%= will_paginate @users %>
		<% end %>
    <% end %>