
<% @user ||= current_user.profile %>
	<%= link_to following_profile_path(@user) do %> <%= @user.following.count %> following <% end %><br>
	<%= link_to followers_profile_path(@user) do %> <%= @user.followers.count %> followers <% end %>
	