<% provide(:title, "All your imprints") %>

<% if user_signed_in? %>
<p>
	<%= link_to new_post_path do %>New<% end %>
</p>

		<% @posts.each do |p| %>
		<div id="container">
		   <div id="image"><%= image_tag p.photo.url(:medium) if p.photo.present?  %></div>
		    <p id="imagetext">
		        <%= link_to controller: "posts", action: "show", id: p do  %><%= p.content %><% end %>
		    </p>
		</div>
		<p>Created by <%= link_to profile_path(p.user_id) do %><%= p.user.username %> <% end %></p>
		<br>
		
		<%= will_paginate @posts %>
		<% end %>
</div>
<%= link_to new_post_path do %>New<% end %>

<% else %>
	<p>Please sign up or sign in.</p>
<% end %>