<% provide(:title, "New imprint") %>

<center><h3>Create a new imprint</h3>


<%= form_for @post do |f| %>
    <p>
      <%= f.text_area:content, :required => true, :cols => "60", :rows => "10", :maxlength => "299" %>
    </p>
	<p>
		<p><%= f.file_field :photo %></p>
	</p>
    <p>
	  <button type="submit" class="btn btn-default">Submit</button>
    </p>
<% end %>
</center>