<% provide(:title, "Your imprint") %>

<div id="container">
   <div id="image"><%= image_tag @post.photo.url(:medium) if @post.photo.present?  %></div>
    <p id="imagetext">
        <%= @post.content %>
    </p>
</div>

<p>Comments:</p>
<p>
<% @post.comments.each do |c| %>
	<p><%= link_to profile_path(c.profile.id) do %><%= c.profile.name %> <% end %></p>
	<p><%= c.body %></p>
<% end %>
</p>
<p>Make a new comment</p>
<%= form_for ([@post, @post.comments.build]) do |f|  %>
	<p>
		<%= f.label :body%>
		<%= f.text_area :body %>
	</p>
	
	<p>
		<%= f.submit %>
	</p>
<% end %>