@import "bootstrap-sprockets";
@import "bootstrap";
body {
  padding-top: 60px;
}

/* navbar */
.navbar {
    background-color: #424242;
    border-color: #CACACA;
}

#logo {
  float: left;
  font-size: 1.8em;
  color: #EBF2F2;
  letter-spacing: -1px;
  font-weight: bold;

}

#logo:hover{
	color: #D9DBDB;
	text-decoration: none;
}

/* typo + fonts */
h1{
	color: grey;
	font-size: 3em;
    font-weight: bold;
	
}

p{
	font-size: 1.1em;
	color: #424242;
}


