// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#feed{
	width: 50%;
	display: block;
	border: 1px solid #e0e0e0;
	background: #fafafa;
	margin: 10px 10px 10px 10px;
	padding: 10px;
	margin-left: 300px;
	text-align: center;
	
}
#container
{
    height:450px;
    width:450px;
    position:relative;
	overflow: hidden;
	
}

#image
{    
    height: 100%;
	width: 100%;
    left:0;
    top:0;
	margin: -20px -20px -20px -20px;
	
}
#imagetext
{
    z-index:100;
    position:absolute;    
    color: white;
    font-size:24px;
    left:0px;
    top:0px;
	width: 100%;
	height: 100%;
	padding-top: 5px;
	padding-right: 15px;
	padding-left: 15px;
	padding-bottom: 15px;
	font-family: Helvetica, Arial, sans-serif;
}
#image img{
	filter: blur(30px);
	-webkit-filter: blur(30px);
	-moz-filter: blur(30px);
	-o-filter: blur(30px);
	-ms-filter: blur(30px);
}