// Place all the styles related to the Profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#profiledata{      
	   width: 30%;
       float: left;
	   font-size: 1em;
	   
}

#profilefeed{
	width: 70%;
	float: right;
	background-color: #d7d7d7;
	font-size: 1.1em;

}




#image{
	width: 10%;
	height: 10%;
	float: left;
}

#friends{
	background-color: #eeeeee;
	width: 46%;
	color: black;
}

a{
	color: black;
}

a:hover{
	color: grey;
	text-decoration: none;
}