<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "imprint", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
		<% if user_signed_in? %>
         <li> <a class="dropdown-toggle" data-toggle="dropdown" href="#"><strong><%= current_user.username %></strong><span class="caret"></span></a>
          <ul class="dropdown-menu">
			  <li><%= link_to "View profile", profile_path(current_user.id), :class => 'navbar-link' %></li>  	
		  	  <li><%= link_to "Settings", edit_user_registration_path, :class => 'navbar-link' %></li>
		  	  <li><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link' %></li>
	  </ul>
 	 </li>
		<% else %>
		  <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
		  <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
		<% end %>
      </ul>
    </nav>
  </div>
</header>